body {
    background-color: white;
    color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
.form-label,
.mensagem-feedback {
    color: white !important;
}

.menu-container {
    color: white;
    max-width: 70%;
    width: 500px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.container {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.form-container {
    color: white;
    text-align: center;
    max-width: 600px;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 30px;
}

.menu-btn,
.btn-custom {
    max-width: 250px;
    width: 50%;
    background-color: rgb(185, 135, 85) !important;
    color: white !important;
    border: none !important;
}

.menu-btn:hover,
.btn-custom:hover {
    background-color: rgb(209, 161, 113) !important;
}

.mensagem-feedback {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    border-radius: 6px;
    max-width: 500px;
    margin: 20px auto 0;
}